[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Generate new clues for New York Times Mini Crossword by Joel Fagliano
[access "refs/*"]
	owner = group Cs-453
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Cs-453
	label-Code-Review = -2..+2 group Cs-453
	label-Code-Review = -2..+2 group Cs-453
	label-Verified = -1..+1 group Cs-453
	push = group Cs-453
	read = group Cs-453
	rebase = group Cs-453
	removeReviewer = group Cs-453
	submit = group user/Burak Korkmaz (burakkorki)
[access "refs/heads/*"]
	create = group user/Burak Korkmaz (burakkorki)
	push = +force group user/Burak Korkmaz (burakkorki)
	pushMerge = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
[access "refs/tags/*"]
	push = group user/Burak Korkmaz (burakkorki)
	push = +force group user/Burak Korkmaz (burakkorki)
