[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Generate new clues for New York Times Mini Crossword by Joel Fagliano
[access "refs/*"]
	owner = group user/Burak Korkmaz (burakkorki)
	label-Code-Review = -2..+2 group user/Akant Atılgan (aAtilgan)
	label-Code-Review = -2..+2 group user/AlpErturk
	label-Code-Review = -2..+2 group user/Arda Gültekin (ardagltkn96)
	label-Code-Review = -2..+2 group user/Ege Akın (egeakin)
	label-Verified = -1..+1 group user/Akant Atılgan (aAtilgan)
	label-Verified = -1..+1 group user/AlpErturk
	label-Verified = -1..+1 group user/Arda Gültekin (ardagltkn96)
	label-Verified = -1..+1 group user/Ege Akın (egeakin)
	submit = group user/Burak Korkmaz (burakkorki)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ege Akın (egeakin)
	label-Code-Review = -2..+2 group user/Ege Akın (egeakin)
	label-Code-Review = -2..+2 group user/Ege Akın (egeakin)
	label-Verified = -1..+1 group user/Ege Akın (egeakin)
	label-Verified = -1..+1 group user/Ege Akın (egeakin)
	label-Verified = -1..+1 group user/Ege Akın (egeakin)
	push = group user/Burak Korkmaz (burakkorki)
	push = group user/Burak Korkmaz (burakkorki)
	push = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
	rebase = group user/Burak Korkmaz (burakkorki)
	rebase = group user/Burak Korkmaz (burakkorki)
	rebase = group user/Burak Korkmaz (burakkorki)
	removeReviewer = group user/Burak Korkmaz (burakkorki)
	submit = group user/Burak Korkmaz (burakkorki)
	exclusiveGroupPermissions = removeReviewer submit
[access "refs/heads/*"]
	create = group user/Burak Korkmaz (burakkorki)
	push = +force group user/Burak Korkmaz (burakkorki)
	pushMerge = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
[access "refs/tags/*"]
	push = group user/Burak Korkmaz (burakkorki)
	push = +force group user/Burak Korkmaz (burakkorki)
